table{
    border-spacing: none;
}
body{
    font-family: "Poppins", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.socmed{
    margin: 20px;
    text-decoration: none;
}

.picture{
    width: 100px;
    display: flex;
    justify-content: center;
}

.image{
    width: 100px;
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    border: 1px solid;
    border-radius: 40px;
  }